backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: 'Create {{collection}} “{{slug}}”'
    update: 'Update {{collection}} “{{slug}}”'
    delete: 'Delete {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] Upload “{{path}}”'
    deleteMedia: '[skip ci] Delete “{{path}}”'

local_backend: true

media_library:
  name: uploadcare
  config:
    publicKey: 4b39f9f7d0ee680e7206

media_folder: static/img
public_folder: /img

collections:
  - name: "artist"
    identifier_field: name
    label: "Artist"
    folder: "src/pages/artist"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "artist-post"}
      - {label: "Published", name: "published", widget: "boolean", default: true, required: false}
      - {label: "Artist Name", name: "name", widget: "string"}
      - {label: "Bio", name: "bio", widget: "text"}
      - {label: "Country", name: "country", widget: "string", required: false}
      - {label: "Profile Picture", name: "profpic", widget: image, required: false}
      - {label: "Featured Image", name: "featuredimage", widget: image}
      - {label: "Banner", name: "midbanner", widget: image}
      - {label: "Website", name: "website", widget: "string", required: false}
      - {label: "Hicetnunc", name: "hicetnunc", widget: "string", required: false}
      - {label: "Twitter", name: "twitter", widget: "string", required: false}
      - {label: "Instagram", name: "instagram", widget: "string", required: false}
      - {label: "Tumblr", name: "tumblr", widget: "string", required: false}
      - {label: "Linktree", name: "linktree", widget: "string", required: false}
      - {label: "Facebook", name: "facebook", widget: "string", required: false}
      - {label: 'Current Exhibition', name: 'currentexhibition', widget: 'relation', collection: "exhibition", search_fields: ["title"], display_fields: ["title"], value_field: "title", required: false, default: '' }

  - name: "exhibition"
    label: "Exhibitions"
    folder: "src/pages/exhibition"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "exhibition-page"}
      - {label: "Artist", name: "artist", widget: "string"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Statement", name: "statement", widget: "text", required: false}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Featured Image", name: "featuredimage", widget: image}
      - label: "Objkts"
        name: "objkts"
        widget: "list"
        summary: '#{{fields.objkt}} - {{fields.title}}'
        fields:
          - {label: "Objkt#", name: "objkt", widget: "number"}
          - {label: "Image", name: "image", widget: image, required: false}
          - {label: "Video URL", name: "video", widget: string, required: false}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Description", name: "desc", widget: "text"}
      - {label: "Long Bio", name: "body", widget: "markdown"}

  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/index.md"
        label: "Home Page"
        name: "index"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "index-page"}
          - {label: Title, name: title, widget: string}
          - {label: Heading, name: heading, widget: string}
          - {label: Subheading, name: subheading, widget: string}
          - {label: Mainpitch, name: mainpitch, widget: object, fields: [{label: Title, name: title, widget: string}, {label: Description, name: description, widget: text}]}
          - {label: Description, name: description, widget: string}
          - {label: "Long Bio", name: "body", widget: "markdown"}
          - {label: Intro, name: intro, widget: object, fields: [{label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: text}, {label: Blurbs, name: blurbs, widget: list, fields: [{label: Image, name: image, widget: image}, {label: Text, name: text, widget: text}]}]}
          - {label: Main, name: main, widget: object, fields: [{label: Heading, name: heading, widget: string}, {label: Description, name: description, widget: text}, {label: Image1, name: image1, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Alt, name: alt, widget: string}]}, {label: Image2, name: image2, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Alt, name: alt, widget: string}]}, {label: Image3, name: image3, widget: object, fields: [{label: Image, name: image, widget: image}, {label: Alt, name: alt, widget: string}]}]}
      - file: "src/pages/about/index.md"
        label: "About"
        name: "about"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "about-page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Body", name: "body", widget: "markdown"}
      - file: "src/pages/shop/index.md"
        label: "Shop"
        name: "shop"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "shop-page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Description", name: "description", widget: "text"}
          - label: "Objkts"
            name: "objkts"
            widget: "list"
            summary: '#{{fields.objkt}} - {{fields.title}}'
            fields:
              - {label: "Objkt#", name: "objkt", widget: "number"}
              - {label: "Image", name: "image", widget: image, required: false}
              - {label: "Video URL", name: "video", widget: string, required: false}
              - {label: "Title", name: "title", widget: "string"}
              - {label: "Description", name: "desc", widget: "text"}

  - label: "Exhibition Group"
    name: "exhibition_group"
    folder: "src/pages/exhibition_groups"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "exhibition-group-page"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Featured Image", name: "featuredimage", widget: image}
      - {label: "Short Summary", name: "summary", widget: "text", required: false}
      - {label: "Description", name: "description", widget: "text", required: false}
      - {label: "Published", name: "published", widget: "boolean", default: true, required: false}
      - label: 'Exhibitions'
        name: 'exhibitions'
        widget: "list"
        fields:
          - {label: 'Exhibition', name: 'exhibition', widget: 'relation', collection: "exhibition", search_fields: ["title"], display_fields: ["title"], value_field: "title" }
      - {label: "Logo", name: "logo", widget: "file", required: false}