.product-listing
    margin-bottom: var(--p-rythm-lg)
    &__item
        img
            display: block

@include from($bp-medium)
    .product-listing
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: var(--p-rythm-lg)
        &__item
