@import "~bulma/sass/utilities/initial-variables"

body 
  font-family: Open Sans

// Config vars
$primary: #000000
$primary-invert: #ffffff
$body-color: #000000
$black: #000000

.navbar .navbar-menu
  box-shadow:none !important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: $primary
    text-align: center
    -webkit-transition: all .15s ease
    transition: all .15s ease

.margin-top-0
  margin-top: 0 !important

.navbar-item .icon
  color: $primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem
footer.footer
  padding: 0.75rem 3rem
  background-color: transparent
  border-top: 3px solid black;
  text-align: right;

//Menu overrides
$menu-item-color: $primary
$menu-item-hover-color: $primary !important
$menu-item-hover-background-color: $black
$menu-item-active-color: $primary-invert
$menu-item-active-background-color:	$primary-invert
$menu-list-border-left: 1px solid $primary-invert
$menu-label-color: $primary


.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $primary-invert
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

// blog roll
.artist-list-item.is-featured
  background-color: #d6400033;
.artist-list-item header
  display: flex;
  margin-bottom: 1em;
.artist-list-item .featured-thumbnail
  flex-basis: 35%;
  margin: 0 0 0.5em 0;
.artist-roll-name, .artist-roll-title
  font-size: 1.333em;
  letter-spacing: 0.025em


@import "~bulma"

a
  color: black;
  &:visited
    color: initial

// responsiveness
+tablet-only
  .artist-list-item .featured-thumbnail
    flex-basis: 50%;

+mobile
  .artist-list-item header
    display: block
  .artist-list-item .featured-thumbnail
    text-align: center;


.logo-text 

  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: -0.015em;
  text-align: left;

  .logo-text-HEN
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: -0.015em;
    text-align: left;
  
.logo-white 
  color: white;
  svg
    color: white;
    path
      fill: white;

.basic-header
  padding: 2vw 4vw

.basic-header__icon 
  float: right;
  
.basic-header__icon svg
  height: 33px;
  width: 33px;

.breakout-width
  min-width: calc(100% + 3rem)
  margin: 0 -1.5rem
  @media (min-width: 1024px)
    margin: 0 -3rem
    min-width: calc(100% + 6rem)

.breakout-width.mid-banner
  margin-top: 3rem
  margin-bottom: 3rem
  height: 50vh
  object-fit: cover
  
.breakout-width.top-banner
  margin: 0;
  height: 50vh;
  object-fit: cover

.block-btn
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  padding: 9px 18px;
  background: white;

  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.025em;

  color: #000000;
  
  border: 3px solid #000000;

  cursor: pointer;
  transition: 0.3s background ease, 0.3s color ease
  &:hover 
    color: white;
    background: black

@media (min-width: 1024px)
  .side-title 
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.025em;
    text-align: left;
    transform: rotate(-90deg);
    display: inline-block;
    width: 200px
    height: 0;
    position: relative;
    left: -170px;
    margin: 0;
    top: 60px

.home-logo-wrap
  justify-content: center;
  align-items: center;

.artist-socials
  margin-bottom: 0.75em;
  a 
    margin-right: 0.5em;

.hero
  flex-direction: row;
  height: 100vh;
  flex-wrap: wrap;
  border-bottom: 2px solid black;

.hero-body
  margin-top: 10vh;
  font-size: 18px;
  letter-spacing: 0.025em;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  margin-bottom: 10vh;
  justify-content: space-evenly;
  flex: 300px 1 1

.hero-image
  bottom: 2px;
  position: relative;
  flex: 2 2 300px;
  background-size: cover;
  height: 100vh;
  bottom: 2px;
  position: relative;


.read-more
  letter-spacing: 0.025em;
  font-weight: bold;
  color: black;
  font-size: 18px;

.homepage h2
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.025em;
  margin-bottom: 2em;

.post-meta
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;

.logo-full
  .logo-icon
    width: 126px
    height: 126px
  .logo-text
    display: block;
    color: black;
    font-size: 28px
    .logo-text-HEN
      font-size: 28px

.exhibition-page
  .exhibition-page-objkt
    border-top: 2px solid black
    display: flex;
    flex-wrap: wrap;
    .exhibition-page-objkt-left
      flex: 3 0 400px;
      padding: 3rem;
      border-right: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
    .exhibition-page-objkt-right      
      flex: 1 0 300px;
      padding: 3rem;
      a.button
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.025em;
        padding: 12px 24px;
        line-height: 1.5;
        border-radius: 0;
        border: 1px solid black
  .exhibition-page-button
    background: none;
    padding: none;
    border: none;
    cursor: pointer
    img 
      max-height: 70vh

      
@media screen and ( max-width: 767px )
  .exhibition-page .exhibition-page-objkt
    display: block;
    text-align: center;
    .exhibition-page-objkt-left
      border-right: none;

